SECRET_AI_API_KEY=
SECRET_AI_URL=https://secretai-rytn.scrtlabs.com:21434
DASHBOARD_API_KEY=
EXPLORER_API_KEY=
DEVELOPER_PLATFORM_PROVIDER_URL=https://evm-t3.cronos.org/
CHAIN_ID=338
PORT=3000
NODE_ENV=development
